/*-------------base structure---------------*/
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

* > h1, h2, h3 {
    font-family: "Mali", cursive;
}

* > p {
    color: #1565c0;
}

* > a {
    color: white;
}

body {
    margin-bottom: 11vh;
    /* background-color:#F0EAD6; */
}

/*____________________Navbar______________________________*/

.navbar {
    background-color: #1565c0;
    color: white;
    height: 15vh;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    top: 0;
    width: 100vw;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: #2c3840;
}

.pullLeft {
    display: flex;
    padding-left: 30px;
    text-shadow: 1px 1px #2c3840;

 }

.pullRight {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    padding: 2%;
}

#brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5em;
    padding-left: 55px;
    text-shadow: 2px 2px #2c3840;
}

a:link {
    text-decoration: none;
}
/*_____________________Footer____________________________*/

.footer {
    background-color: #1565c0;
    height: 10vh;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-style: solid;
    border-width: thin;
    border-color: #2c3840;
}

.footer > p {
    color: white;
}

.logo {
    width: 80px;
}

/*___________________Home Page__________________________*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 16vh;
    padding-bottom: 10vh;
}

/* TODO: Change depending on whether we're going with Flex or Material UI */
.card {
    height: 300px;
    width: 300px;
    object-fit: cover;
    background-position: center;
    border-style: solid;
    border-color: #2c3840;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #666666;
}


/*______________________Show Page___________________________*/

#map {
    width: 100vw;
    height: 80vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    justify-content: center;
    align-items: center;

}

#destinationShow {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: scale-down;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    width: 100vw;
    margin-bottom: 11vh;
}

/* -----------------MyEpic------------------*/

body {
    margin-bottom: 20vh;
}

container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.column1 {
    flex-grow: 1;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #43a047;
}

.column2 {
    flex-grow: 2;
    text-align: center;
}

.column3 {
    flex-grow: 1;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #43a047;
}
/* ------------------Login----------------------------- */
.login {
    padding-top: 100px;
    padding-left: 25px;
}

/* ------------------Register----------------------------- */
.register {
    padding-top: 100px;
    padding-left: 25px;
}

/* ------------------About----------------------------- */
.about {
    padding-top: 100px;
    padding-left: 25px;
}
/* ---------------------TODO----------------------------- */
