/*-------------base structure---------------*/
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

* > h1, h2, h3 {
    font-family: "Mali", cursive;
}

* > p {
    color: #1565c0;
}

* > a {
    color: white;
    text-decoration: none;
}

#blue {
    background-color: #1565c0;
}

#button {
    background-color: #43a047;
    color: white;
    margin: 2rem;
}


/*______________________Generic Classes________________________________*/

.flex-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  /* background-color: transparent; */
}

.flex-row {
  display: flex;
  justify-content: center;
}

/*______________________Navbar____________________________*/

.pullLeft {
    padding-left: 25px;
    text-shadow: 1px 1px #2c3840;
}

#brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    text-shadow: 3px 3px #2c3840;
    padding-left: 50px;
}
#brand:hover {
    text-shadow: 4px 4px #2c3840;
}

#tagline {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
    text-shadow: 1px 1px #2c3840;
}
/*_____________________Footer____________________________*/

.footer {
    background-color: #1565c0;
    height: 10vh;
    display: flex;
    flex-shrink: 0;
    width: 100vw;
    border-style: solid;
    border-width: thin;
    border-color: #2c3840;
    position: fixed; bottom: 0;
}

.footer > p {
    color: white;
}

.logo {
    width: 65px;
}

/*___________________Home Page__________________________*/

#filter-section {
  padding-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #003c8f;
  border-style: solid;
  border-width: thin;
  border-color: #2c3840;
}

#filter {
  width: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#backgroundHome {
    background-image: url("/assets/oldmap.jpg");
    background-attachment: fixed;
    min-width: 100%;
    opacity: 0.6;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -1;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: scale-down;
}

.card {
    height: 300px;
    width: 300px;
    object-fit: cover;
    background-position: center;
    border-style: solid;
    border-color: #2c3840;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #666666;
}
.card:hover {
    border-style: solid;
    border-color: #43a047;
    border-radius: 3px;
}

/*______________________Show Page___________________________*/

#map {
    width: 100vw;
    height: 80vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    justify-content: center;
    align-items: center;
}

#showtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 6em;
    text-shadow: 3px 3px black;
    padding-left: 50px;
    color: white;
}

#attribute-section {
  padding: 1rem 2rem 4rem 2rem;
}

#attribute-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

#attribute-title {
  font-size: 3rem;
  margin-bottom: 0;
}

#attribute-location {
  margin-bottom: 3rem;
}

.background {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: scale-down;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.inline {
  display: inline;
}

#button:hover {
    background-color: #00701a;
}
/*--------------Arrow down-------------*/

arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -1rem;
}

.bounce {
  -moz-animation: bounmodal-imgfinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*--------------Attribute Card-------------*/

.circle {
  width: 200px;
  height: 200px;
  border: 2px solid #1565c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

#attribute-icon {
  width: 80px;
  height: auto;
}

#attribute-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textbox {
  width: 300px;
  height: auto;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

#destinationShow {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: scale-down;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    width: 100vw;
    padding-top: 16vh;
    padding-bottom: 10vh;
    margin-bottom: 11vh;
}

/* -----------------MyEpic------------------*/

#epicTitle {
    padding-top: 17vh;
    font-size: 40px;
    text-align: center;
}

#backgroundMyEpic {
    background-image: url("/assets/beach.jpg");
    background-attachment: fixed;
    min-width: 100%;
    height: 100vh;
    opacity: 0.4;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: scale-down;
}

.myepic {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
    padding-bottom: 20vh;
    justify-content: space-between;
}

.column1 {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid gray;
}

.column2 {
    flex-grow: 2;
    text-align: center;
    min-height: 80vh;
}

.column3 {
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid gray;
    min-height: 80vh;
}
/* ------------------Login----------------------------- */
.login {
    padding-top: 120px;
    padding-left: 75px;
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
}

#backgroundLogin {
    background-image: url("/assets/riceterrace.jpg");
    width: auto;
    min-height: 100vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: scale-down;
    opacity: 0.5;
}

/* ------------------Register----------------------------- */
.register {
    padding-top: 120px;
    padding-left: 75px;
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
}
#backgroundRegister {
    background-image: url("/assets/telluride.jpg");
    width: auto;
    min-height: 100vh;
    overflow: hidden;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: scale-down;
    opacity: 0.5;
}

/* ------------------About----------------------------- */
.about {
    padding-top: 100px;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

#backgroundAbout {
    background-image: url("/assets/temple.jpg");
    background-attachment: fixed;
    min-width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: scale-down;
}

.logo-section {
  display: flex;
  flex-direction: column;
  max-width: 740px;
  margin: 0 auto;
}
.logo-section img {
    /* padding-top: 10vh; */
  margin-left: 16%;
  margin-right: 16%;
}
section {
  max-width: 740px;
  margin: 0 auto;
  display: flex;
}
.column-z {
  width: 100%;
  margin: 2px;
  /* border-style: solid;
  border-width: thin;
  border-color: #000; */
}
.column-x {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: #FFF;

}

.column-y {
  margin: 10px;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
  background-color: #FFF;
  border-style: solid;
  border-width: thin;
  padding: 2px;
  border-color: #000;
  text-align: center;

}
.column-x img {
  align-items: center;
  justify-content: center;
}
.column-y img {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 10px;
}
